{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ version.product }}</h3>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">{{ version.name }}</h3>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ version.number }}</li>
                    </ul>
                    <a href="{% url 'catalog:update_version' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
<!--                    <a href="{% url 'catalog:delete_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-danger">Удалить</a>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}